<div class="row text-center m-2">
  <div class="col-lg-12 mb-4">
    <div class="card h-100">
        <%= link_to image_tag(prototype.image.variant(resize: "500x325"), class: "img-fluid rounded " ), prototype_path(prototype.id) %>
      <div class="card-body">
        <%= link_to "#{prototype.title}", root_path%>
        <%= prototype.catch_copy %>
      </div>
      <div class="card-footer">
        <%= link_to "by #{prototype.user.name}", user_path(prototype.user),class: "btn btn-warning col-4" %>
      </div>
    </div>
  </div>
</div>
